* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #f0f2f5;
}
body {
  background-color: #161513;
  overflow-x: hidden;
}
:root {
  --white-primary: #f0f2f5;
  --white-secondary: #fff;
  --black-primary: #161513;
  --black-secondary: #1c1c22;
  font-family: "League Spartan", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track {
  display: none;
}
.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.small-text {
  font-family: "Kanit", sans-serif;
}
button {
  font-family: "Kanit", sans-serif;
}
.gradient {
  background: linear-gradient(90deg, #ec008c 0%, #fc6767 100%);
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-gradient {
  background: linear-gradient(to right, #ec008c, #fc6767);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hamburger-nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
}

.hamburger-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  background: #fff;
}

.hamburger-button {
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 18px;
  left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}

.hamburger-ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

.hamburger-li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
